header .overlay{
	background: hsla(179, 97%, 61%, 0.1);
	background-size: cover;
	width: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
}

header h1{
	color: #555;
	font: 2em 'Sansita One';
	text-align: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
margin-bottom: 5px;
	padding-bottom: 30px;
	padding-top: 30px;
	background: rgba(144, 238, 245, 0.43);
}

header li {
    float: right;
    padding-right: 45%;
}

header ul li a {
	color: #555;
	padding-left: 20px;
	font: 20px 'Sansita One';
    padding-right: 40px;
    text-align: center;
    display: inline;
    width: 60px;
}

header h1:hover{
	font-size: 2em;
	color: #666;
	background: rgba(144, 238, 245, 0.63);
}

body{
	color: #000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: 1.5;
	text-align: left;
	background-image: url("http://i.stack.imgur.com/pMAiU.jpg");
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: #ed9b0;
}

.body{
	margin: 0 auto;
	clear: both;
}

.mainContent{
	margin-left: 15%;
	margin-right: 15%;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

.content {
	width: 100%;
	float: left;
}

.post{
	background-color: #5fa7e1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 1% 3%;
	margin-top: 2%;
}

.top-sidebar{
	 width: 25%;
	 float: left;
}

.post-info{
	font-style:italic;
	color: #beccaa;
	font-size: 90%;
	text-decoration: bold;
}

@media only screen and (min-width: 150px) and (max-width: 600px){

.mainContent{
	margin-left: 5%;
	margin-right: 5%;
	line-height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

}
